p {
    color: rgb(18, 128, 20);
    font-size: x-large;
}

#amarelo {
    color: rgb(104, 107, 55);
}

#background {
    background-image: url(guardians-of-the-galaxy-wallpaper-1920x1080-14.jpg);
    background-size: cover;
}